@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap&family=Roboto&display=swap');
:root {
	--dark-color-a: #1d1b02;
	--dark-color-b: #134f4f;
	--light-color: #c5ebff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}
body{
    background-color: rgb(43, 50, 68);
    color: white;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	height: 90vh;
}
.neon{
    font-family: Work Sans;
    text-align: center;
    font-size: 100px;
    text-shadow: -5px -5px 40px #5AB059, 5px 5px 40px #5AB059;
    box-shadow:  -5px -5px 40px #5AB059, 5px 5px 40px #5AB059, inset 0 0 1.3rem #5AB059 ;
    border: solid 4px white;
    border-radius: 40px;
}
.non-neon{
    font-family: Work Sans;
    text-align: center;
    font-size: 100px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
p{
	hyphens: auto;
	word-break: break-all;
}
.main{
	display: flex; 
	align-items: center;
	justify-content: center;
	height: 100%;
}

/* Join Page */
.joinForm{
	margin-top: 3rem;
	font-size: 28px;
	width: 20vw;
	height: 35vh;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	padding: 1rem;
	border-radius: 20px;
	background: url("https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg?w=1800&t=st=1682455817~exp=1682456417~hmac=39d583e65a1cdcc95164f17a74d0336b46fe86a2a345e8e6b691481f114f0903,") no-repeat center center/cover;
	box-shadow: 10px 10px 15px #000001, -10px -10px 15px rgba(8, 20, 54, 0.7)

}
.userWrapper,
.roomWrapper{
	display: flex;
	margin: 1rem 0;
	align-items: center;
}
.labelWrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.userForm,
.roomForm{
	background: #ecf0f3;
	font-size: 24px;
	width: 18rem;
	height: 2.5rem;
	border-radius: 50px;
	border: none;
	text-align: center;
	box-shadow: inset 6px 6px 6px #9a9da0;
	--webkit-box-shadow: inset 6px 6px 6px #9a9da0;
	-moz-box-shodow: inset 6px 6px 6px #9a9da0;
}
.joinBtn{ 
	cursor: pointer;
	font-size: 18px;
	background: linear-gradient(to right, #2193b0, #6dd5ed);
	border: none;
	border-radius: 10%;
	height: 2em;
	width: 5rem;
	margin-top: 1em;
	transition: all 0.5s ease;
}
.joinBtn:hover{
	transform: scale(1.1);
}

/* Chat Page */
.btn {
	cursor: pointer;
	padding: 5px 15px;
	margin: 5px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 20px;
	height: 38px;
}

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 6fr;
    height: 35vh;
	color: black;
    background: var(--light-color)
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: auto;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 20px;
	max-height: 500px;
	overflow-y: hidden;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	hyphens: auto;
	overflow-wrap: break-all;
}

.msgContainerMe,
.msgContainerOthers,
.serverMsg{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-radius: 30px;
	padding: 8px 20px;
	width: 50%;
	margin: 10px 0;
}
.msgContainerOthers,
.serverMsg{
	align-items: flex-start;
}
.msgContainerMe{
	position: relative;
	left: 25rem;
	background: linear-gradient(to right,#928d8d, #9c9999 , #e0e0e0);
	align-items: flex-end;
}
.msgContainerOthers{
	background: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
}
.serverMsg{	
	background: linear-gradient(314deg, #015d00 0%, #04bf00 74%);

}
.msgMessage{
	margin: 0 10px;
}

.msgTime{
	opacity: .5;
	margin: 0 10px;
	white-space: nowrap;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}
.slide-in {
	animation: slideIn 0.5s forwards;
  }
  
  @keyframes slideIn {
	from {
	  transform: translateY(200%);
	}
	to {
	  transform: translateY(0%);
	}
  }

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);

}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
    background: var(--light-color);
}
.inputContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.chatInput{
	width: 88%;
}
#room-name{
	color: red;
	font-size: 20px;
}

/* Mobile stuff */
@media (max-width: 1448px) {
	.joinForm{
		width: 30rem
	}
}
@media (max-width: 700px) {
	.neon{
		width: 90vw;
		font-size: 60px;
	}
	.joinForm{
		font-size: 20px;
		margin-top: 5em;
		width: 99vw;
		height: 50vh;
		padding: unset;
	}
	.labelWrapper{
		width: 5em;
		margin-right: 10px;
	}
	.userForm{
		-webkit-appearance: none;
	}
	.chat-messages{
		width: 90vw;
	}
	.messageWrapper{
		width: 100%;
	}
	.chat-sidebar {
		display: none;
	}
}